<div>
    <h2 id="page-heading">
        <span jhiTranslate="twinbetApp.gameBetMin.home.title">Game Bet Mins</span>
        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-game-bet-min" [routerLink]="['/game-bet-min/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="twinbetApp.gameBetMin.home.createLabel">
            Create new Game Bet Min
            </span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gameBetMins">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nameHome"><span jhiTranslate="twinbetApp.gameBetMin.nameHome">Name Home</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nameAway"><span jhiTranslate="twinbetApp.gameBetMin.nameAway">Name Away</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homeLineHome"><span jhiTranslate="twinbetApp.gameBetMin.homeLineHome">Home Line Home</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homeOddsHome"><span jhiTranslate="twinbetApp.gameBetMin.homeOddsHome">Home Odds Home</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homeLineAway"><span jhiTranslate="twinbetApp.gameBetMin.homeLineAway">Home Line Away</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homeOddsAway"><span jhiTranslate="twinbetApp.gameBetMin.homeOddsAway">Home Odds Away</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wantNotif"><span jhiTranslate="twinbetApp.gameBetMin.wantNotif">Want Notif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="league.nameLeague"><span jhiTranslate="twinbetApp.gameBetMin.league">League</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gameBetMin of gameBetMins ;trackBy: trackId">
                <td><a [routerLink]="['/game-bet-min', gameBetMin.id, 'view' ]">{{gameBetMin.id}}</a></td>
                <td>{{gameBetMin.nameHome}}</td>
                <td>{{gameBetMin.nameAway}}</td>
                <td>{{gameBetMin.homeLineHome}}</td>
                <td>{{gameBetMin.homeOddsHome}}</td>
                <td>{{gameBetMin.homeLineAway}}</td>
                <td>{{gameBetMin.homeOddsAway}}</td>
                <td>{{gameBetMin.wantNotif}}</td>
                <td>
                    <div *ngIf="gameBetMin.league">
                        <a [routerLink]="['../league', gameBetMin.league?.id, 'view' ]" >{{gameBetMin.league?.nameLeague}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/game-bet-min', gameBetMin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/game-bet-min', gameBetMin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="gameBetMins && gameBetMins.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
