<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-game-bet-min-heading" jhiTranslate="twinbetApp.gameBetMin.home.createOrEditLabel">Create or edit a Game Bet Min</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gameBetMin.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gameBetMin.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.nameHome" for="field_nameHome">Name Home</label>
                    <input type="text" class="form-control" name="nameHome" id="field_nameHome"
                        [(ngModel)]="gameBetMin.nameHome" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.nameAway" for="field_nameAway">Name Away</label>
                    <input type="text" class="form-control" name="nameAway" id="field_nameAway"
                        [(ngModel)]="gameBetMin.nameAway" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.homeLineHome" for="field_homeLineHome">Home Line Home</label>
                    <input type="number" class="form-control" name="homeLineHome" id="field_homeLineHome"
                        [(ngModel)]="gameBetMin.homeLineHome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.homeOddsHome" for="field_homeOddsHome">Home Odds Home</label>
                    <input type="number" class="form-control" name="homeOddsHome" id="field_homeOddsHome"
                        [(ngModel)]="gameBetMin.homeOddsHome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.homeLineAway" for="field_homeLineAway">Home Line Away</label>
                    <input type="number" class="form-control" name="homeLineAway" id="field_homeLineAway" placeholder={{-gameBetMin.homeLineHome}}
                        [(ngModel)]="gameBetMin.homeLineAway" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.homeOddsAway" for="field_homeOddsAway">Home Odds Away</label>
                    <input type="number" class="form-control" name="homeOddsAway" id="field_homeOddsAway"
                        [(ngModel)]="gameBetMin.homeOddsAway" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.league" for="field_league">League</label>
                    <select class="form-control" id="field_league" name="league" [(ngModel)]="gameBetMin.league " readonly >
                        <option [ngValue]="leagueOption.id === gameBetMin.league?.id ? gameBetMin.league : leagueOption" *ngFor="let leagueOption of leagues; trackBy: trackLeagueById">{{leagueOption.nameLeague}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="twinbetApp.gameBetMin.wantNotif" for="field_wantNotif">Want Notif</label>
                    <input type="checkbox" class="form-control-wantnotif" name="wantNotif" id="field_wantNotif"
                        [(ngModel)]="gameBetMin.wantNotif" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
